@import "materialize/components/color-variables";
$primary-color: color("#ff5722", "deep-orange") !default;
$secondary-color: color("#1a237e", "darken-4") !default;

@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

nav {
  background-color: #ff5722;
}
#logo {
  padding-top: 3px;
}
nav .brand-logo {
  color: #1a237e;
}

#logo-name {
  color: #1a237e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  // text-shadow: 1px 1px 2px #000000;
}
.page-footer {
  background-color: #ff5722;
}
.sign-up-form {
  padding-top: 30px;

}
.sign-up-btn {
  color: white !important;
}

.sign-up-form .autofocus {
  background-color: #ff5722;
}
body {
  background-image: image-url('school3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-content {
  // text-shadow: 2px 2px 4px #000000;
  text-shadow: 1 1px 1 rgba(0, 0, 0, 0.4);
}
.title {
  color: #1a237e;
  text-shadow: 1px 1px 2px #000000;
}
